include ../mixins
if area
    - var newLat = lat.substr(0, 5), newLong = long.substr(0, 5);
    - var currentDay = moment(RN.currentTrip.get('date')[1]).format('dddd') || null;
    - var currentWeather = weather[0];
    .tripMap
        .underHeader
            .tripbox
                i(class='icon-calendar')
                .text #{currentDay}
                    span #{RN.currentTrip.get('date')[0]}
            .tripbox
                i(class='icon-globe')
                .text #{area},
                    span #{country}
            .tripbox
                i(class='icon-map')
                .text Lat
                    span #{newLat}
                    | Long
                    span #{newLong}
        .map
            .info
                .wind
                    i(class='icon-right-circled')
                    | #{currentWeather.D} #{currentWeather.G}mph
                .current
                    i(class='icon-right-circled')
                    | No Data
                .enlargetrip
                    i(class='icon-zoom-in-outline')
                    | ENLARGE
            div(id="map-canvas", style="width:100%; height:170px;")
        .tripData
            .section.airsea
                .air
                    .icon
                        i(class='icon-air')
                        span AIR
                    .info
                        | #{currentWeather.T}
                        span.degrees &#8451
                .sea(class= notsafe)
                    .icon
                        i(class='icon-temperatire')
                        span SEA
                    .info
                        if typeof currentWeather.St === typeof undefined
                            | No Data
                        else
                            | #{currentWeather.St}
                            span.degrees &#8451
                    .dangertext
                        | DANGER
                        i(class='icon-attention')
            .section.tide
                if typeof weather.Wh === typeof undefined
                    .title.notide Tide Info
                    .titeInfo.notide Weather conditions not available at this time
                else
                    .title
                        i(class='icon-tide')
                        | TIDE
                    .tideInfo(style ="width: "+weather.length*100+"px")
                        .tideoverflow
                            each val, index in weather
                                +tideBox(val)
            .section.springtide Weather conditions not available at this time
                //span 23 JAN 2015
            .section.windcurrent
                .wind
                    .icon
                        i(class='icon-wind')
                        span WIND
                    .info
                        i(class='icon-right-circled #{currentWeather.D}')
                        span #{currentWeather.D}
                        span #{currentWeather.T}
                            span mph
                .current
                    .icon
                        i(class='icon-right-circled')
                        span CURRENT
                    .info
                        | No Data
            if typeof weather.P !== typeof undefined
                .section.large
                    .title
                        i(class='icon-gauge')
                        | PESSURE
                    .info #{weather.P}MB
                        span rising
            if typeof weather.Swell !== typeof undefined
                .section.large
                    .title
                        i(class='icon-gauge')
                        | SWELL
                    .info 0.25
                        span m
            .section.large
                h3
                    i(class='icon-location')
                    | TRACK ME
                +input({type: 'radio', value:'on', name:'gpstracking', checked:'checked'})
                | On
                +input({type: 'radio', value:'off', name:'gpstracking'})
                | Off
                .infobox

            .section
                .btn.starttrip START TRIP
                .btn.endtrip END TRIP
                .btn.savetrip CLOSE TRIP
    +input({type: 'hidden', value:'', name:'start', id:'start'})
    +input({type: 'hidden', value:'', name:'end', id:'end'})
else
    .nodata
        | No Data, try again
    a(href='#currenttrip', class="btn retry") Retry