include ../mixins
if data.area
    - var newLat = data.latitude.substr(0, 5), newLong = data.longitude.substr(0, 5);
    - var currentDay = moment(RN.currentTrip.get('date')[1]).format('dddd') || null;
    .tripMap
        .underHeader
            .tripbox
                i(class='icon-calendar')
                .text #{data.currentDay}
                    span #{RN.currentTrip.get('date')[0]}
            .tripbox
                i(class='icon-globe')
                .text #{data.area},
                    span #{data.country}
            .tripbox
                i(class='icon-map')
                .text Lat
                    span #{newLat}
                    | Long
                    span #{newLong}
        .map
            .info
                .wind
                    i(class='icon-right-circled')
                    | #{data.winddirection} #{data.windgust}mph
                .current
                    i(class='icon-right-circled')
                    | No Data
                .enlargetrip
                    i(class='icon-zoom-in-outline')
                    | ENLARGE
            div(id="map-canvas", style="width:100%; height:170px;")
        +tripInfo(data)
    +input({type: 'hidden', value:'', name:'start', id:'start'})
    +input({type: 'hidden', value:'', name:'end', id:'end'})
else
    .nodata
        | No Data, try again
    a(href='#currenttrip', class="btn retry") Retry