mixin tripInfo(data)
    .tripData
        .section.airsea
            .air
                .icon
                    i(class='icon-air')
                    span AIR
                .info
                    | #{data.temperature}
                    span.degrees &#8451
            .sea(class= notsafe)
                .icon
                    i(class='icon-temperatire')
                    span SEA
                .info
                    if data.seatemperature === null
                        | No Data
                    else
                        | #{data.seatemperature}
                        span.degrees &#8451
                .dangertext
                    | DANGER
                    i(class='icon-attention')
        .section.tide
            if data.waveheight === null
                .title.notide No Tide Info
            else
                .title
                    i(class='icon-tide')
                    | TIDE
                .tideInfo(style ="width: " + data.length * 100 + "px")
                    .tideoverflow
                        each val, index in data
                            +tideBox(val)
        .section.springtide Weather conditions not available at this time
            //span 23 JAN 2015
        .section.windcurrent
            .wind
                .icon
                    i(class='icon-wind')
                    span WIND
                .info
                    i(class='icon-right-circled #{data.winddirection}')
                    span #{data.winddirection}
                    span #{data.temperature}
                        span mph
            .current
                .icon
                    i(class='icon-right-circled')
                    span CURRENT
                .info
                    | No Data
        if data.pressure !== null
            .section.large.pressure
                .title
                    i(class='icon-gauge')
                    | PESSURE
                .info #{data.pressure}MB
                    span rising
        if data.swell !== null
            .section.large.swell
                .title
                    i(class='icon-gauge')
                    | SWELL
                .info 0.25
                    span m
        .section.airsea
            .air
                .icon
                    i(class='icon-sun')
                    span SUNRISE
                .info
                    - var sunTimes = RN.fnc.suncal.getTimes(new Date(), data.latitude, data.longitude)
                    | #{moment(sunTimes.sunrise).format('HH:MM')}
            .sea
                .icon
                    i(class='icon-moon')
                    span SUNSET
                .info
                    if sunTimes.sunset === null
                        | No Data
                    else
                        | #{moment(sunTimes.sunset).format('HH:MM')}
        if(RN.currentTrip.isToday(true))
            .section.large.gpscontrols
                h3
                    i(class='icon-location')
                    | TRACK ME
                    +switch('gpstracking', 'no', 'yes')
            .section.large.safetynetcontrols
                h3
                    i(class='icon-user')
                    | ACTIVATE SAFETY NET
                    +switch('safetynet', 'no', 'yes')
        .infobox
        .section.tripControls
            .btn.starttrip START TRIP
            .btn.endtrip END TRIP
            if(!RN.currentTrip.isToday())
                .btn.savetrip SAVE TRIP
            else
                .btn.savetrip CLOSE TRIP
