mixin tripdetails(data)
    - var newLat = data.latitude.substr(0, 5), newLong = data.longitude.substr(0, 5);
    .underHeader
        if(!RN.currentTrip.isToday())
            +input({place:'Name this trip', type: 'text', value:localStorage.ctripname, name:'tripname'})
        if(typeof data.id !== typeof undefined)
            .tripbox.tripid
                i(class='icon-location')
                .text
                    span TRIP
                    | #{data.id}
        .tripbox
            i(class='icon-calendar')
            .text #{moment(data.currentDay).format('dddd')}
                span #{moment(data.currentDay).format('D MMMM YYYY')}
        .tripbox
            i(class='icon-globe')
            .text #{data.area},
                span #{data.country}
        .tripbox
            i(class='icon-table')
            .text Lat
                span #{newLat}
                | Long
                span #{newLong}
        if(data.previoustrip)
            .tripbox.stars
                +rating(data.rating, 'disabled')