mixin input(data)
    - data.type = data.type || 'text'
    .control-group
        if data.type !== "hidden"
            .icon-right-open
        input(id="#{data.id}",placeholder="#{data.place}", type="#{data.type}", name="#{data.name}", value="#{data.value}", class=data.class)