mixin catchFish(data)
   - var attr = data.attr || {}
   - data = data.data;
   .box.catchfishbox&attributes(attr)
      .image
          if(data.image == 0)
              img(src='img/placeholder.gif')
          else
            img(src='http://' + RN.glb.url.cdn + '/uploads/catch/' + RN.user.get('uid') + '/' + RN.currentTrip.get('tid') + '/' + data.imagename +'.jpg')
      .text
         h3 #{data.species}
         .item W
            span #{data.weight1}lb #{data.weight2}oz
         .item L
            span #{data.height1}ft #{data.height2}in
         .item
            Rating
      //.icon
         i(class='icon-minus')
         i(class='icon-plus')
      .fishdetails
         .location
         .conditions