mixin catchFish(data)
   - c(data);
   - data.attr = data.attr || {}
   .box.catchfishbox&attributes(data.attr)
      .image
         img(src='img/placeholder.gif')
      .text
         h3 #{data.species}
         .item W
            span #{data.weight1}lb #{data.weight2}oz
         .item L
            span #{data.height1}ft #{data.height2}in
      .icon
         i(class='icon-minus')
         i(class='icon-plus')
      .fishdetails
         .location
         .conditions